body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    overflow: hidden;
}

#ground {
    position: absolute;
    width: 100vw;
    height: 20vh;
    background: linear-gradient(111.47691409607364deg, rgba(247, 247, 247,1) 19.42704073183096%,rgba(247, 247, 247,1) 30.36939003043735%,rgba(213, 231, 235,1) 96.10335698483925%);
    bottom: 0;   
}

#tree {
    position: absolute;
bottom: 11vh;
left: 50vw;
margin-left: -500px;
width: 1000px;
height: 780px;
background: url('tree.425ae3bb.png') no-repeat;
background-size: contain;
background-position: bottom center;
}

.logo {
    position: absolute;
    top: 10vh;
    left: 50%;
    margin-left: -40vw;
    background: url('logo.d8e45327.png') no-repeat;
    background-size: contain;
    background-position: center;
    width: 80vw;
    height: 20vh;
}

.buttons {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
height: 80vh;
position: absolute;
top: 20vh;
width: 100%;
padding-top: 100px;
}

.button {
width: 200px;
height: 80px;
background: #91642a;
border: 5px solid #977a54;
border-radius: 29px;
display: flex;
justify-content: center;
align-items: center;
color: #e8ceb2;
margin: 50px;
cursor: pointer;
transition: all 0.15s ease-in;
}

.button:hover {
    transform: scale(1.1) rotate(5deg);
}

.ball {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    position: absolute;
    transition: all 0.15s ease-in;
    border: 5px solid black;
    border: 5px solid #282828;
}

.ball.square{
    border-radius: 4px
}

#ball-0{
    top: 160px;
    left: 430px;
}

#ball-1 {
    top: 190px;
    left: 520px;
}

#ball-2 {
    top: 270px;
    left: 410px;
}

#ball-3{
    top: 260px;
    left: 530px;
}

#ball-4{
    top: 350px;
    left: 430px;
}

#ball-5{
   top: 390px;
left: 570px;
}

#ball-6{
top: 440px;
left: 340px;
}

#ball-7{
top: 460px;
left: 460px;
}

#ball-8{
top: 520px;
left: 560px;
}

#ball-9{
top: 540px;
left: 380px;
}

#ball-10{
    top: 600px;
left: 320px;
}

#ball-11{
    top: 590px;
left: 500px;
}

#ball-12{
    top: 610px;
    left: 640px;
}

.ball.green{
      background: green;
  }

.ball.orange{
      background: orange;
  }

.ball.red{
      background: red;
  }

.ball.yellow{
      background: yellow;
  }

.ball.blue{
      background: blue;
  }

.ball.violet{
      background: violet;
  }

.ball.pink{
      background: pink;
  }

.ball.brown{
      background: brown;
  }

.ball.black{
      background: black;
  }

#prompt.green{
      color: green;
  }

#prompt.orange{
      color: orange;
  }

#prompt.red{
      color: red;
  }

#prompt.yellow{
      color: yellow;
  }

#prompt.blue{
      color: blue;
  }

#prompt.violet{
      color: violet;
  }

#prompt.pink{
      color: pink;
  }

#prompt.brown{
      color: brown;
  }

#prompt.black{
      color: black;
  }

#gui {
                position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
        pointer-events: none;

}

#counter {
      bottom: 0;
        right: 5vh;
        position: absolute;
        font-size: max(10vh, 10vw);
        -webkit-text-stroke-width: 5px;
        -webkit-text-stroke-color: #192c93;
        color: #f9f9f9;
  }

#prompt {
      bottom: 0;
        width: 100%;
        position: absolute;
        font-size: max(10vh, 10vw);
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #000;
        display: flex;
        justify-content: center;
  }

#score {
      top: 0;
    left: 30vw;
    width: 200px;
    margin-left: -100px;
    position: absolute;
    font-size: max(10vh, 10vw);
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #5d0d60;
    color: #f9f9f9;
    transition: all 1s ease-in;
  }

#score.scorescreen {
    top: 0;
    left: 50vw;
    font-size: 18rem;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 10px;
  }

#scorescreen .buttons {
      top: 40vh;
  }

#score-name {
      height: 50px;
    font-size: 3.5rem;
    border-radius: 12px;
    padding: 35px;
  }

.hidden {
    display: none !important;
}

.leadeboard-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leaderboard-element{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2aaa50ad;
    height: 50px;
    border: 3px solid black;
    padding: 0 6rem;
    font-size: 2rem;
    margin: 0.3rem 0;
}

.title {
        font-size: 3rem;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #029112;
    color: #f9f9f9;
    font-weight: bolder;
}
/*# sourceMappingURL=index.be5cf2f4.css.map */
